
  <div class="p-6 movie-detail-shelf" *ngIf="!isLoading else loadingTemplate">
    <div class="container-movies grid content-center grid-cols-2 gap-8 p-4 rounded-lg">
      <div  *ngFor="let program of programsData" class="movie-item-container flex flex-col items-stretch max-w-[200px]">
          <img
             class="cursor-pointer w-full min-h-[250px] object-cover"
             src="https://image.tmdb.org/t/p/w500/{{program.poster_path}}"
             alt=""
             [routerLink]="['/programs', programType, program.id]"
          >
          <div class="justify-center content-center flex h-full min-h-[55px] items-center border-[1px solid]">
            <h3 class="text-center">{{program.title}}</h3>
          </div>
      </div>
    </div>
  </div>

  <ng-template #loadingTemplate>
    <div class="p-6 movie-detail-shelf skeleton-template">
      <div class="container-movies grid content-center grid-cols-2 gap-8 p-4 rounded-lg">
        <div *ngFor="let item of [1,2,3,4,5,6,7,8,9,10,11,12]" class="min-w-[150px] min-h-[150px] skeleton"></div>
      </div>
    </div>
  </ng-template>
