<div class="dashboard">

  <div class="dashboard-inner">
    <div class="dashboard-left">
      <button matTooltip="Menu" mat-icon-button>
        <mat-icon [ngStyle]="{'color': 'white'}">menu</mat-icon>
      </button>
      <button matTooltip="Home" mat-icon-button routerLink="/">
        <mat-icon [ngStyle]="{'color': 'white'}">home</mat-icon>
      </button>
    </div>
    <div class="dashboard-right">
      <h3 routerLink="/movies/popular">Popular</h3>
      <h3 routerLink="/movies/now_playing">Now Playing</h3>
      <h3 routerLink="/movies/top_rated">Top Rated</h3>
      <h3 routerLink="/movies/upcoming">Upcoming</h3>
    </div>
  </div>

</div>
