<ng-container *ngIf="currentUser$ | async">

  <mat-toolbar class="dashboard"  [class.sidenav-active]="($sidenavStatus | async) === 'open'">
    <div class="dashboard-inner">
      <div class="dashboard-left">
        <button (click)="openSidenav()" matTooltip="Menu" mat-icon-button>
          <mat-icon [ngStyle]="{'color': 'white'}">menu</mat-icon>
        </button>
        <button matTooltip="Home" mat-icon-button routerLink="/home">
          <mat-icon [ngStyle]="{'color': 'white'}">home</mat-icon>
        </button>
      </div>

      <search-bar class="w-full"></search-bar>

      <div class="dashboard-right">
        <button
          (click)="navigate('popular')"
          mat-flat-button class="bg-transparent text-white"
          routerLink="/programs/{{currentCategory}}/popular/1"
          routerLinkActive="link-active"
          >Popular
        </button>
        <button
         (click)="navigate('now_playing')"
          mat-flat-button class="bg-transparent text-white"
          routerLink="/programs/{{currentCategory}}/now_playing/1"
          routerLinkActive="link-active"
          >Now Playing
        </button>
        <button
          (click)="navigate('top_rated')"
          mat-flat-button class="bg-transparent text-white"
          routerLink="/programs/{{currentCategory}}/top_rated/1"
          routerLinkActive="link-active"
          >Top Rated
        </button>
        <button
          (click)="navigate('upcoming')"
          mat-flat-button class="bg-transparent text-white"
          routerLink="/programs/{{currentCategory}}/upcoming/1"
          routerLinkActive="link-active"
          >Upcoming
        </button>
      </div>
    </div>
  </mat-toolbar>

</ng-container>
