.dashboard {
  min-height: 20px;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  padding-block: 1em;
  align-items: center;
  background-color: #0F2027;
  transition: .4s ease;
  display: flex;
  justify-content: center;

  &.sidenav-active {
    .dashboard-inner {
      padding-left: 10vw;
      width: 90vw;
    }
  }

  app-search-bar {
    width: 80%;
  }

  .dashboard-inner {
    display: flex;
    width: 95vw;
    justify-content: space-between;
    transition: .4s ease;
  }

  .dashboard-left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
  }

  .dashboard-right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    gap: 1em;


    button {

      &.link-active {
        background-color: #0F2027 !important;
      }
    }
  }

  h3 {
    cursor: pointer;
    margin: 0;
    color: white;
  }

}

