<ng-container *ngIf="!isLoading else loadingTemplate">
  <div class="flex" *ngIf="currentProgramType === 'movies'">
    <div class="container-movie shadow-2xl p-4 flex flex-col w-3/4">

      <div class="movie-title-container">
        <h1>{{$any(currentProgram).title}} - {{currentProgram.tagline}}</h1>
      </div>

      <div class="movie-details-container flex gap-4 flex-col ">

        <div class="genres-release-date-container flex gap-4 items-center">
          <div class="release-date-container gap-2 flex items-center">
            <mat-icon>access_time</mat-icon>
            <span>{{$any(currentProgram).release_date}}</span>
          </div>

          <div class="genres-container gap-2 flex items-center">
            <mat-icon>menu</mat-icon>
            <span *ngFor="let genre of $any(currentProgram).genres; let last = last">
              {{genre.name}}{{last ? '': ' -'}}
            </span>
          </div>
        </div>

        <div class="image-info-container flex gap-4">
          <div class="image-container min-w-[300px] overflow-hidden rounded-lg relative">
            <img class="object-cover max-w-[300px]" src="https://image.tmdb.org/t/p/w500//{{$any(currentProgram).poster_path}}" alt="">
            <div (click)="toggleFavoriteProgram(currentProgram)" class="favorite-wrapper">
              <mat-icon [ngClass]="{'favorited' : currentProgram.programFavorited}">favorite</mat-icon>
            </div>
          </div>

          <div class="info-container flex flex-col gap-2">
            <div class="info-inner">
              <mat-icon>movie</mat-icon>
              <h3>Nome original: {{$any(currentProgram).original_title}}</h3>
            </div>

            <div class="info-inner">
              <mat-icon>attach_money</mat-icon>
              <h3>Orçamento: {{$any(currentProgram).budget}}</h3>
            </div>

            <div class="info-inner">
              <mat-icon>calendar_today</mat-icon>
              <h3>Lançamento: {{$any(currentProgram).release_date}}</h3>
            </div>

            <div class="info-inner">
              <mat-icon>language</mat-icon>
              <h3>Idioma Original: {{$any(currentProgram).original_language}}</h3>
            </div>

            <div class="info-inner">
              <mat-icon>people</mat-icon>
              <h3>Popularidade: {{currentProgram.popularity}}</h3>
            </div>

            <div class="info-inner">
              <mat-icon class="w-[100px]">textsms</mat-icon>
              <h3>Sinopse: <p>{{currentProgram.overview}}</p></h3>
            </div>

          </div>
        </div>

      </div>
      <iframe *ngIf="videoUrl" [src]="videoUrl | safe" class="w-[80%] h-[400px] ml-auto mr-auto mt-8"></iframe>
      <div *ngIf="!videoUrl" class="text-white font text-base">Oops, it looks like there's no trailer available for this movie :/</div>
    </div>
    <similar-movies-shelf [programType]="currentProgramType" [programId]="currentProgramId"></similar-movies-shelf>
  </div>

  <div class="flex" *ngIf="currentProgramType === 'tv'">
    <div class="container-movie shadow-2xl p-4 flex flex-col w-3/4">

      <div class="movie-title-container">
        <h1>{{currentProgram.name || currentProgram.original_name }} {{currentProgram.tagline ? '- ' + currentProgram.tagline : ''}}</h1>
      </div>

      <div class="movie-details-container flex gap-4 flex-col ">

        <div class="genres-release-date-container flex gap-4 items-center">
          <div class="release-date-container gap-2 flex items-center">
            <mat-icon>access_time</mat-icon>
            <span>{{$any(currentProgram).number_of_episodes}} episodes</span>
          </div>

          <div class="genres-container gap-2 flex items-center">
            <mat-icon>menu</mat-icon>
            <span *ngFor="let genre of $any(currentProgram).genres; let last = last">
              {{genre.name}}{{last ? '': ' -'}}
            </span>
          </div>
        </div>

        <div class="image-info-container flex gap-4">
          <div class="image-container min-w-[300px] overflow-hidden rounded-lg relative">
            <img class="object-cover max-w-[300px]" src="https://image.tmdb.org/t/p/w500//{{$any(currentProgram).poster_path}}" alt="">
            <div (click)="toggleFavoriteProgram(currentProgram)" class="favorite-wrapper">
              <mat-icon [ngClass]="{'favorited' : currentProgram.programFavorited}">favorite</mat-icon>
            </div>
          </div>

          <div class="info-container flex flex-col gap-2">
            <div class="info-inner">
              <mat-icon>movie</mat-icon>
              <h3>Nome original: {{$any(currentProgram).original_title || currentProgram.original_name}}</h3>
            </div>

            <div class="info-inner">
              <mat-icon>attach_money</mat-icon>
              <h3>Orçamento: {{$any(currentProgram).budget}}</h3>
            </div>

            <div class="info-inner">
              <mat-icon>calendar_today</mat-icon>
              <h3>Lançamento: {{$any(currentProgram).first_air_date}}</h3>
            </div>

            <div class="info-inner">
              <mat-icon>language</mat-icon>
              <h3>Idioma Original: {{$any(currentProgram).original_language}}</h3>
            </div>

            <div class="info-inner">
              <mat-icon>people</mat-icon>
              <h3>Popularidade: {{currentProgram.popularity}}</h3>
            </div>

            <div class="info-inner">
              <mat-icon class="w-[100px]">textsms</mat-icon>
              <h3>Sinopse: <p>{{currentProgram.overview}}</p></h3>
            </div>

          </div>
        </div>

      </div>
      <iframe *ngIf="videoUrl" [src]="videoUrl | safe" class="w-[80%] h-[400px] ml-auto mr-auto mt-8"></iframe>
      <div *ngIf="!videoUrl" class="text-white font text-base">Oops, it looks like there's no trailer available for this series :/</div>
    </div>
    <similar-movies-shelf [programType]="currentProgramType" [programId]="currentProgramId"></similar-movies-shelf>
  </div>

</ng-container>


<ng-template #loadingTemplate>
  <div class="container-movie shadow-2xl p-4 flex flex-col w-3/4">
    <div class="skeleton">
      <div class="skeleton-title mb-3"></div>
      <div class="skeleton-text mb-3"></div>

      <div class="flex gap-4">
        <div class="skeleton-img"></div>
        <div class="flex flex-col gap-8">
          <div class="skeleton-text"></div>
          <div class="skeleton-text"></div>
          <div class="skeleton-text"></div>
          <div class="skeleton-text"></div>
          <div class="flex flex-col gap-1">
            <div class="skeleton-description"></div>
            <div class="skeleton-description"></div>
            <div class="skeleton-description"></div>
            <div class="skeleton-description"></div>
            <div class="skeleton-description"></div>
            <div class="skeleton-description"></div>
            <div class="skeleton-description"></div>
            <div class="skeleton-description"></div>
            <div class="skeleton-description"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
