.info-inner {
  display: flex;
  gap: .5rem;
}

h3, p, h1, span {
  color: white;
}

mat-icon {
  color: white;
}

.skeleton {
  .skeleton-title {
    width: 300px;
    height: 20px;
    animation: skeleton-loading infinite linear alternate 1s;
  }

  .skeleton-text {
    height: 20px;
    width: 150px;
    animation: skeleton-loading infinite linear alternate 1s;
  }

  .skeleton-img {
    height: 450px;
    width: 300px;
    animation: skeleton-loading infinite linear alternate 1s;
  }

  .skeleton-description {
    height: 20px;
    width: 350px;
    animation: skeleton-loading infinite linear alternate 1s;
  }
}

@keyframes skeleton-loading {
  0% {
    background-color: #203A43;
  }
  100% {
    background-color: #203a4300;
  }
}

.favorite-wrapper {
  position: absolute;
  background-color: white;
  border-radius: 100%;
  padding: .5em;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 4px;
  top: 4px;
  cursor: pointer;

  &:hover {
    mat-icon {
      color: #8B0000;
    }
  }

  mat-icon {
    transition: .4s ease;
    color: black;
    &.favorited {
      color: red;
    }
  }
}
