<mat-toolbar class="dashboard" color="primary">

  <div class="dashboard-inner">
    <div class="dashboard-left">
      <button matTooltip="Menu" mat-icon-button>
        <mat-icon [ngStyle]="{'color': 'white'}">menu</mat-icon>
      </button>
      <button matTooltip="Home" mat-icon-button routerLink="/">
        <mat-icon [ngStyle]="{'color': 'white'}">home</mat-icon>
      </button>
    </div>
    <div class="dashboard-right">
      <button mat-raised-button color="primary" routerLink="/movies/popular/1">Popular</button>
      <button mat-raised-button color="primary" routerLink="/movies/now_playing/1">Now Playing</button>
      <button mat-raised-button color="primary" routerLink="/movies/top_rated/1">Top Rated</button>
      <button mat-raised-button color="primary" routerLink="/movies/upcoming/1">Upcoming</button>
    </div>
  </div>

</mat-toolbar>
