.picsum-img-wrapper {
  max-width: 200px;
}

.carousel-container {
  width: 95vw;
  margin: 0 auto;
}

.carousels-home-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: 4em;
}

.shelf-title {
  font-size: 1.5rem;
}
