<div class="banner-container">
  <app-banner></app-banner>
</div>

<ng-container *ngIf="dataFetched">
  <div class="flex flex-col gap-6">
    <app-movie-shelf mode="carousel" typeOfProgram="movies" [programData]="popularMoviesList" title="Popular Movies"></app-movie-shelf>
    <app-movie-shelf mode="carousel" typeOfProgram="tv" [programData]="popularSeriesList" title="Popular Series"></app-movie-shelf>
    <app-movie-shelf mode="carousel" typeOfProgram="movies" [programData]="topRatedMoviesList" title="Top Rated Movies"></app-movie-shelf>
    <app-movie-shelf mode="carousel" typeOfProgram="movies" [programData]="upcomingMoviesList" title="Upcoming Movies"></app-movie-shelf>
  </div>
</ng-container>
