<ng-container *ngIf="!isLoading">
  <div *ngIf="mode == 'static' && !isLoading else carousel">
    <div class="max-w-full mt-4 container-movies grid content-center grid-cols-5 p-8 rounded-[10px] gap-8">
      <div @fadeAnimation *ngFor="let program of programData" class="movie-item-container flex flex-col items-stretch min-h-[260px] rounded-[10px] overflow-hidden">
        <div [matTooltip]="program.programFavorited ? 'Remove from favorites' : 'Mark as favorite'" (click)="toggleFavoriteProgram(program)" class="favorite-wrapper">
          <mat-icon [ngClass]="{'favorited' : program.programFavorited}">favorite</mat-icon>
        </div>
          <img
             class="cursor-pointer w-[350px]"
             src="https://image.tmdb.org/t/p/w500/{{program.poster_path}}"
             alt=""
             [routerLink]="['/programs', typeOfProgram || program.media_type, program.id]"
          >
          <img *ngIf="!program.poster_path"
             class="cursor-pointer w-[350px]"
             src="../../../../../../assets/popcorn-black.png"
             alt=""
             [routerLink]="['/programs', typeOfProgram || program.media_type, program.id]"
          >
          <div class="justify-center content-center flex min-h-[60px] items-center">
            <h3 class="text-center">{{program.media_type === 'movies' ? program.title : program.original_name}}</h3>
          </div>
      </div>
    </div>
  </div>

  <ng-template #carousel>
    <ng-container  *ngIf="(isMobile$ | async)?.matches">
      <div  class="carousel-container mt-4" *ngIf="mode == 'carousel'">
        <h1 class="shelf-title mb-4">{{title}}</h1>
        <ng-image-slider
          (imageClick)="goToMovieDetail($event)"
          [slideImage]="1"
          [images]="carouselImages"
          [imageSize]="{width:  '33%', height: '230px'}"

          >
        </ng-image-slider>
      </div>
    </ng-container>

    <ng-container *ngIf="!(isMobile$ | async)?.matches">

      <div  class="carousel-container mt-4" *ngIf="mode == 'carousel'">
        <h1 class="shelf-title mb-4">{{title}}</h1>
        <ng-image-slider
          (imageClick)="goToMovieDetail($event)"
          [slideImage]="7"
          [images]="carouselImages"
          [imageSize]="{width:  '16.6%', height: '400px'}"
          (cdkAutofill)="true"
          >
        </ng-image-slider>
      </div>
    </ng-container>
  </ng-template>
</ng-container>
