<div class="login-container">

  <h1 class="text-center text-white">Sign in</h1>

  <form [formGroup]="form" novalidate>

    <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>

    <div class="field-wrapper">
      <mat-form-field>
        <mat-label>Your Email</mat-label>
        <input matInput formControlName="email" (input)="emailErrors = ''">
        <mat-error>{{emailErrors}}</mat-error>
      </mat-form-field>
    </div>

    <div *ngIf="formState == 'register'" class="field-wrapper">
      <mat-form-field>
         <mat-label>Your name</mat-label>
        <input matInput formControlName="name">
        <mat-error *ngIf="form.controls['name'].hasError('required') && form.controls['name'].touched">You must type a name</mat-error>
      </mat-form-field>
      <p></p>
    </div>

    <div class="field-wrapper">
      <mat-form-field>
        <mat-label>Your password</mat-label>
        <input type="password" matInput formControlName="password" (input)="form.controls['password']" #pass>
        <mat-error>{{passwordErrors}}</mat-error>
      </mat-form-field>
    </div>

    <div class="actions">
      <span>Forgot Password?</span>
      <button *ngIf="formState == 'login'" class="" (click)="login()">Login</button>
      <button *ngIf="formState == 'register'" class="" (click)="register()">Sign up</button>
      <span *ngIf="formState == 'login'">Not a member? <a  class="cursor-pointer underline" (click)="changeFormState()">Sign Up</a></span>
      <span *ngIf="formState == 'register'">Already have an account? <a  class="cursor-pointer underline" (click)="changeFormState()">Sign in</a></span>
    </div>

    <mat-error>{{genericErrors}}</mat-error>

  </form>
</div>
