<div class="alert alert-danger" *ngIf="hasError">Ocorreu um erro na busca</div>

<div *ngIf="isLoading">
  <mat-progress-bar class="h-[1px] imp" mode="indeterminate"></mat-progress-bar>
</div>

<ng-container *ngIf="!isLoading && !hasError">

  <div *ngIf="mode == 'static'">
    <div class="w-[95vw] mt-16 container-movies grid content-center grid-cols-4 p-8 rounded-[10px] gap-8">
      <div *ngFor="let movie of moviesList" class="movie-item-container flex flex-col items-stretch min-h-[260px] rounded-[10px] overflow-hidden">
          <img
             class="cursor-pointer w-full h-[300px]"
             src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}"
             alt=""
             [routerLink]="['/movie', movie.id]"
          >
          <div class="justify-center content-center flex min-h-[60px] items-center">
            <h3 class="text-center">{{movie.title}}</h3>
          </div>
      </div>
    </div>

    <mat-paginator class="mr-16" #paginator
      [length]="500"
      (page)="handlePages($event)"
      [pageIndex]="currentPage"
      pageSize="1"
      [showFirstLastButtons]="false"
      [hidePageSize]="true"
      aria-label="Select page">
    </mat-paginator>

  </div>

  <div class="carousel-container" *ngIf="mode == 'carousel' && similarMoviesShelf === undefined ">
    <h1 class="shelf-title mb-4">{{title}}</h1>
    <ng-image-slider (imageClick)="goToMovieDetail($event)" [slideImage]="7" [images]="carouselImages"  #nav></ng-image-slider>
  </div>

  <div class="movie-detail-shelf" *ngIf="similarMoviesShelf">
    <div class="mt-16 container-movies grid content-center grid-cols-2 gap-8">
      <div  *ngFor="let movie of moviesList" class="movie-item-container flex flex-col items-stretch max-w-[200px]">
          <img
             class="cursor-pointer w-full min-h-[250px] object-cover"
             src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}"
             alt=""
             [routerLink]="['/movie', movie.id]"
          >
          <div class="justify-center content-center flex h-full min-h-[55px] items-center border-[1px solid]">
            <h3 class="text-center">{{movie.title}}</h3>
          </div>
      </div>
    </div>
  </div>
</ng-container>
