
<ng-container *ngIf="!isLoading else loadingTemplate">

  <div class="d-flex items-center gap-2 justify-end">
    <mat-icon *ngIf="currentPage > 1" (click)="navigatePages(false)" [ngStyle]="{'color': 'white'}" class="d-flex items-center justify-center p-4 cursor-pointer overflow-visible rounded-full transition-all hover:bg-[#0F2027]">arrow_back</mat-icon>
    <mat-icon *ngIf="currentPage === 1" [ngStyle]="{'color': 'rgba(255,255,255, .3)'}" class="d-flex items-center justify-center p-4 cursor-pointer overflow-visible rounded-full transition-all hover:bg-[#0F2027]">arrow_back</mat-icon>
    <mat-icon *ngIf="displayNextPageCondition" (click)="navigatePages(true)" [ngStyle]="{'color': 'white'}" class="d-flex items-center justify-center p-4 cursor-pointer overflow-visible rounded-full transition-all hover:bg-[#0F2027]">arrow_forward</mat-icon>
    <mat-icon *ngIf="!displayNextPageCondition" [ngStyle]="{'color': 'rgba(255,255,255, .3)'}" class="d-flex items-center justify-center p-4 cursor-pointer overflow-visible rounded-full transition-all hover:bg-[#0F2027]">arrow_forward</mat-icon>
  </div>

  <program-shelf
    [programData]="programData"
    (programFavorited)="removeFavorite($event)"
    mode="static">
  </program-shelf>
</ng-container>

<ng-template #loadingTemplate>
  <div class="bg-[#0F2027] max-w-full mt-16 grid place-items-center grid-cols-5 p-12 rounded-[10px] gap-8">
    <div
      class="rounded-xl d-flex bg-[#203A43] justify-end animate-pulse w-[250px] flex-col gap-[2px] h-[400px]"
      *ngFor="let card of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]">
      <div class="animate-pulse w-[90%] mx-auto bg-[#0F2027] mb-1 h-[5px]"></div>
      <div class="animate-pulse w-[90%] mx-auto bg-[#0F2027] mb-1 h-[5px]"></div>
    </div>
  </div>
</ng-template>
