<div class="d-flex justify-between items-center">
  <div (click)="switchProgram()" class="flex items-center gap-2 p-2 rounded-lg cursor-pointer transition-all hover:bg-[#0F2027]">
    <span class="text-white text-xl">{{typeOfProgram === 'movies' ? (typeOfProgram | titlecase) : 'Series'  }}</span>
    <mat-icon class="text-white">filter_list</mat-icon>
    <div></div>
  </div>
  <div class="d-flex items-center gap-2">
    <mat-icon (click)="navigatePages(false)" [ngStyle]="{'color': 'white'}" class="d-flex items-center justify-center p-4 cursor-pointer overflow-visible rounded-full transition-all hover:bg-[#0F2027]">arrow_back</mat-icon>
    <mat-icon (click)="navigatePages(true)" [ngStyle]="{'color': 'white'}" class="d-flex items-center justify-center p-4 cursor-pointer overflow-visible rounded-full transition-all hover:bg-[#0F2027]">arrow_forward</mat-icon>
  </div>
</div>

<ng-container *ngIf="!isLoading else loadingTemplate">
  <program-shelf [programData]="programData" [typeOfProgram]="typeOfProgram" mode="static"></program-shelf>
</ng-container>

<ng-template #loadingTemplate>
  <div class="loading-template max-w-full mt-16 grid place-items-center grid-cols-5 p-8 rounded-[10px] gap-8">
    <div class="rounded-xl skeleton-card d-flex justify-end animate-pulse w-[320px] flex-col gap-[2px] h-[480px]" *ngFor="let card of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]">
      <div class="animate-pulse w-[90%] mx-auto bg-[#0F2027] mb-1 h-[5px]"></div>
      <div class="animate-pulse w-[90%] mx-auto bg-[#0F2027] mb-1 h-[5px]"></div>
    </div>
  </div>
</ng-template>
