
.banner-container {
  overflow: hidden;
  position: relative;

  .picsum-img-wrapper {
    position: relative;

    .arrows-wrapper {
      display: flex;
      align-items: center;
      gap: 1em;
      position: absolute;
      left: 10px;
      bottom: 10px;

      mat-icon {
        color: ghostwhite;
        font-size: 40px;
        width: 40px;
        height: 40px;
        cursor: pointer;
      }
    }

    .banner-img {
      transition: .4s ease all;
      width: 55vw;
      height: calc(100% + 1em) !important;

      &.sidenav-active {
        width: 45vw;
      }

      &.is-mobile {
        width: auto;
        height: auto !important;
      }
    }

    .watch-button {
      border-radius: 10px;
      padding: 1em 2em;
      border: 1px solid #0F2027;
      max-width: 200px;
      font-size: 1.4rem;
      border-radius: 30px;
      position: absolute;
      bottom: 5%;
      right: 2%;
      background: linear-gradient(to right, #0F2027, #203A43, #0F2027);
      color: white;
      z-index: 100;

      @media (max-width: 500px) {
        padding: .8em 2em;
        font-size: 1rem;
      }
    }
  }

  .carousel-caption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5em;
    height: 100%;
    width: 30%;
    text-align: start;
    left: 30px;
    right: unset;
    top: unset;
    bottom: unset;

    .text-template {
      align-items: center;
      text-align: start;
      justify-content: center;
      display: flex;
      flex-direction: column;
      gap: .5em;

      .banner-title {
        width: 100% !important;
        font-size: 1.8rem !important;
      }

      .banner-description {
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 5; /* number of lines to show */
          line-clamp: 5;
          -webkit-box-orient: vertical;
      }
    }
  }

  .cast-slider {
    max-width: 300px;
    bottom: 10%;
    left: 5%;
    max-width: 480px;

    .cast-slider-inner {
      display: flex;
      justify-content: flex-start;
      overflow-x: scroll;
      gap: 1em;

      .cast-slider-inner-wrapper {
        min-width: 40%;
        display: flex;
        scroll-snap-type: x mandatory;
        align-items: center;
        transition: .4s ease;

        &.sidenav-active {
          align-items: flex-start !important;
          min-width: 35%;
          margin-top: .5em;
          scroll-snap-align: start;

          img {
            transition: .4s ease;
            max-height: 200px !important;
          }
        }
      }
    }

  }

}

::-webkit-scrollbar {
  display: none;
}

p {
  margin: 0 !important;
}



