<ngb-carousel [interval]="5000" [showNavigationIndicators]="false" [showNavigationArrows]="false">
  <ng-template ngbSlide *ngFor="let movie of movies; let i = index">
    <div class="picsum-img-wrapper">
      <img class="ml-auto max-h-[600px] min-w-[1000px] rounded overflow-hidden" [src]="'https://image.tmdb.org/t/p/w1280/' + movie.backdrop_path" alt="{{ movie.title }}" />
    </div>
    <div class="carousel-caption">
      <div>
        <div class="text-container">
          <h3 class="banner-title">{{movie.original_title}}</h3>
          <p class="banner-description">{{movie.overview}}</p>
        </div>
        <div class="info flex gap-4 items-center mt-[1em]">
          <img src="../../../../assets/imdb.svg" class="w-[45px] h-[30px] object-cover" alt="">
          <p>{{movie.vote_average}}</p>
          <div class="separator w-[1px] h-[30px] bg-white"></div>
          <img [src]="getFlagImage(movie.original_language)" alt="" class="w-[40px] h-[30px]">
          <p>{{getLanguage(movie.original_language)}}</p>
        </div>
      </div>
      <div class="cast-slider">
        <div class="cast-slider-inner">
          <div class="cast-slider-inner-wrapper"  *ngFor="let actor of movie.cast">
            <img *ngIf="actor.profile_path" [src]="'https://image.tmdb.org/t/p/w500/' + actor.profile_path" class="rounded-md max-h-[250px]">
            <img *ngIf="!actor.profile_path" src="../../../../assets/profile.png" class="max-h-[250px]">
          </div>
        </div>
      </div>
    </div>

    <button class="watch-button" [routerLink]="['movie', movie.id]">Watch</button>

  </ng-template>
</ngb-carousel>
